#root {
    background-image: linear-gradient(to bottom right, rgba(250, 246, 246, 0.5), rgba(255, 0, 0, 0.27));
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainHeaderFooter {
    display: flex;
}